.env
.env.*
!.env.example
!.env.*.example
.npmrc
.git/

storage/
backups/
uploads/

**/node_modules/
**/lib/
!**/src/**/lib/
!**/src/**/lib/**
**/esm/
**/es/
**/dist/
**/.umi/
**/.umi-production/
coverage/
docs-dist/

playwright/
.swc/
ncc-cache/
yarn--**
v8-compile-cache-**
vitest.config.mts.timestamp-*
cache/diskstore-*

.idea/
.vscode/
**/.DS_Store
*.iws
*.iml
out/
cmake-build-*/

*.log
yarn-error.log
lerna-debug.log
*.sqlite
